@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --grayNavbar: #202c3c;
  --mainBagCol: #202c3c;

  --calBagCol: #283444;
  --mineBagCol: #10242c;

  --BetButtonBagCol: #08e404;
}
